<h1><%= @player_1.name %> vs. <%= @player_2.name %></h1>
<div>
<%= @player_2.name %>: <%= @player_2.health %>hp
</div>

<form action="/action" method="post">
  <input type="radio" name="attack" value="Attack">
  <label for="attack">Attack!</label><br>
  <input type="submit" value="Submit">
</form>